ARCH_CFLAGS=-ffreestanding -fno-stack-protector -fno-pic -mno-80387 -mno-mmx -mno-sse -mno-sse2 -mno-red-zone -mcmodel=kernel
ARCH_CPPFLAGS=
KERNEL_ARCH_CFLAGS=-ffreestanding -fno-stack-protector -fno-pic -mno-80387 -mno-mmx -mno-sse -mno-sse2 -mno-red-zone -mcmodel=kernel
KERNEL_ARCH_CPPFLAGS=

ARCH_FREEOBJS=\

ARCH_HOSTEDOBJS=\