*.iso

isodir
sysroot
build/

# CMake artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt
!cmake/*.cmake

# build files
*.o

# Log files generated on runs
boot_debug.log
boot_output.log
events
iso_backup.sh
iso_old.sh
qemu.log
test_boot.log
limine.log
kernel_test.log
kernel_output.txt
*.log
*/*.log
*/*/*.log

# Vim files
*.swp
*.swo
*.swn

# log files
*.log

# disassembly debugging
kernel/horizon.kernel*

# ctags
.tags

# misc
.cache/

# audio
audio/*

# Mac
.DS_Store
